#!/usr/bin/make -f

# https://www.debian.org/doc/debian-policy/ch-source.html#s-debianrules
# qbuild-ng build would run QNAP/rule ${Arch} in $PKG_ROOT, where ${Arch} is 
# the Architecture field of QNAP/control

binary:

build: build-indep build-arch

build-indep:

build-arch:

clean:

get-orig-source:
	git clone https://github.com/fcwu/foobar
